{% extends "layout.html" %}

{% block title %}Home Page{% endblock %}

{% block body %}
<div class="home">
<h1 class="statement">"Empowering your health journey with accessible, secure and comprehensive online medical care"</h1>

<div class="aboutus">
<h3>About Us</h3>

<h4>Empowering Health, Enhancing Lives</h4>

At MedBay, we believe in the power of technology to transform healthcare.<br>Our journey began with a simple vision: to make medical care more accessible, efficient, and personalized for everyone, everywhere.<br>

Founded by a team of passionate healthcare professionals and tech innovators, we are dedicated to providing you with the most comprehensive online medical services. <br>Our platform connects you with top medical experts, offers secure digital consultations, and supports your health with cutting-edge tools designed for the modern patient.<br>

We're more than just an app; we're your trusted partner in health. With MedBay, you're in control of your health journey, backed by the expertise and care you deserve.<br>

Join us as we redefine healthcare—one click, one consultation, one life at a time.
</div>
<br>
<h3>Our Services:</h3><br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <h2>Virtual Consultations</h2>
      <div class="content">
        <p>Virtual Consultations offer convenient online appointments with healthcare professionals for various medical needs. Get expert advice and treatment plans from the comfort of your home.</p>
      </div>
    </div>    
  </div>
  <div class="col">
    <div class="card">
      <h2>Digital Prescription</h2>
      <div class="content">
        <p>Our Digital Prescription service streamlines the process of obtaining prescriptions online. Skip the hassle of visiting a physical pharmacy by receiving your prescriptions digitally, directly to your email or mobile device.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2>Medicine Delivery</h2>
      <div class="content">
        <p>Our Medicine Delivery service ensures timely delivery of prescribed medications to your doorstep. Simply upload your prescription, and our team will handle the rest, making it convenient for you to access the medications you need without leaving your home.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2>Lab Test Booking</h2>
      <div class="content">
        <p>Book lab tests with ease through our Lab Test Booking service. Select from a range of diagnostic tests, choose a convenient time slot, and visit our partner labs for sample collection. Receive accurate results digitally, empowering you to take control of your health.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2>Health Records Management</h2>
      <div class="content">
        <p>Our Health Records Management service offers a secure platform to organize and access your medical records online. Store and manage your health history, test results, prescriptions, and more in one centralized location, ensuring seamless communication with healthcare providers and better management of your overall health.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2>Emergency Services</h2>
      <div class="content">
        <p>Our Emergency Services are available 24/7 to provide immediate assistance in critical situations. Whether you require urgent medical attention, first aid guidance, or need to connect with emergency responders, our dedicated team is here to ensure swift and effective response to your emergency needs.</p>
      </div>
    </div>
  </div>
  
</div>
</div>

{% endblock %}