<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | MedBay</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../static/styles.css" rel="stylesheet">
    <link href="../static/logo.png" rel="shortcut icon" type="image/x-icon">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- <a class="navbar-brand" href="#"><img src="../static/logo1.png"></a> -->
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">
                <img src="../static/logo.png" height="50" width="50">
                </a>
              
              </li>
              <li class="nav-item">
                <button class="btn btn-outline-success">
                  <a class="nav-link" aria-current="page" href="/find_doc">Find Doctors</a>
                </button>
              </li>
              <li class="nav-item">
                <button class="btn btn-outline-success">
                  <a class="nav-link" href="/video_cons">Video Consultations</a>
                </button>
              </li>
              <li class="nav-item">
                <button class="btn btn-outline-success">
                  <a class="nav-link" href="/meds">Medicines</a>
                </button>
              </li>
              <li class="nav-item">
                <button class="btn btn-outline-success">
                  <a class="nav-link" href="/dashboard">Dashboard</a>
                </button>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Locations" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

    <!-- Add this section to display flashed messages -->
    <div class="container mt-3">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endwith %}
    </div>

    {% block body %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
