{% extends "layout.html" %}
{% block title %}Virtual Consultation{% endblock %}
{% block body %}
<div class="video_cons">
    <h2>Say Goodbye to Waiting Rooms - Hello Video Visits!</h2>
    <br><br>
    <h4>Private Consultation .  <font style="font-size: smaller; font-weight: lighter; font-style: italic;">Starts at just ₹199/-*</font></h4>
    <br><button class="btn btn-outline-danger btn-lg"><a href="/consult" class="cons_now">Consult Now</a></button>
    <br><br>
    <hr><hr>
    <h3>Benefits of Online Consultation</h3><br>
    <ul>
        <li class="benefits"><h4>Convenient and Easy</h4>
        <h6 style="font-weight: lighter;">Start an instant consulation within 2 mins or schedule for some other time.</h6>
        </li>
        <li class="benefits"><h4>100% Safe Consultations</h4>
            <h6 style="font-weight: lighter;">Be assured that all the consultations are fully private and secured.</h6>
        </li>
        <li class="benefits"><h4>Free Follow-up</h4>
            <h6 style="font-weight: lighter;">Get a valid digital prescription and a 7-day, free follow-up for further clarifications.</h6>
        </li>
    </ul>
{% endblock %}